[Logging]
Verbose = False

[Auth]
User = user@moffi.io
Password = mypassword

[Reservation]
City = Marseille
Workspace = Framework 3
Desk = Desk4_46
Working Days = Mon, 2, Friday
Parking = Marseille Parking Moto

[Moffics]
Secret = 32-chars-token
